
# Created by .ignore support plugin (hsz.mobi)
.idea/
Artboard 1.svg
Asset 2.svg
GameReport.docx
GameReport.pdf
GameReportfinalfinalfinal.pdf
JAR FILE/
New folder/
PoliceMan1/
Predator.iml
Sheet_1.docx
UML Diagram.pdf
UML.pdf
Untitled-1.psd
Untitled-1_0004_Background.png
Untitled-2-assets/
Untitled-2.ai
Untitled-2.psd
Untitled-2.svg
Untitled-23.ai
_0000_Vector-Smart-Object.png
_0000_idle1.png
_0001_Vector-Smart-Object.png
_0002_Vector-Smart-Object.png
_0003_Vector-Smart-Object.png
_0004_Background.png
_0005_Background.png
_0011_Layer-1.png
_0012_Background.png
build.xml
build/
dist/
dyingAnimation.psd
gameMainMenu.fxml
hs_err_pid11552.log
hs_err_pid12976.log
hs_err_pid13660.log
hs_err_pid13716.log
hs_err_pid14144.log
hs_err_pid16800.log
hs_err_pid21968.log
hs_err_pid22976.log
hs_err_pid24144.log
hs_err_pid25528.log
hs_err_pid352.log
hs_err_pid3716.log
hs_err_pid5004.log
hs_err_pid7260.log
hs_err_pid8908.log
manifest.mf
nbproject/
policeman.psd
predatormask__0012_run_1.png
predatormask__0013_run_2.png
predatormask__0014_run_3.png
predatormask__0015_run_4.png
predatormask__0016_run_5.png
predatormask__0017_run_6.png
quarks.ser
replay_pid11552.log
replay_pid12976.log
replay_pid13660.log
replay_pid13716.log
replay_pid16800.log
replay_pid21968.log
replay_pid22976.log
replay_pid24144.log
replay_pid25528.log
replay_pid3716.log
replay_pid8908.log
